<html ng-app="app">
<head>
    <title>Pitchroulette</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/hammerjs/hammer.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
	<link href='main.css' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <script src="app.js"></script>
<!--
    <link rel="stylesheet" href="main.css">
-->
</head>
<body ng-controller="AppCtrl">
<div class="background-two"></div>
<div layout="row" style="text-align: left; position: absolute;" ng-click="next()">
    <div style="text-align: center; width: 670px;">
		<br/>
		<p class="title">Pitch</p>
        <span class="countdown">{{pad(seconds, 2)}}</span>
        <md-progress-circular class="md-warn" value="{{progress}}" md-diameter="300"></md-progress-circular>
		<br/>
		<br/>
		<br/>
		<p class="title">Roulette</p>
    </div>
	<div style="margin: auto; margin-top: 50px;" flex>
		<md-list>
			<md-item ng-repeat="item in items">
				<md-item-content>
					<div class="md-tile-content" style="padding: 0px;">
						<!--<h3>{{item.what}}</h3>-->
						<p  class="presenter presenting" ng-if="$index === index">{{item}}</p>
						<p class="presenter" ng-if="$index !== index">{{item}}</p>
					</div>
				</md-item-content>
			</md-item>
		</md-list>
	<div>
</div>
</body>
</html>
